@model Olx.Models.User

@{
    ViewBag.Title = "Налаштування";
    Layout = "_Layout";
}

<div class="main-container">
    <h1 class="title">Налаштування</h1>
    <form method="post" enctype="multipart/form-data" id="settingsForm">
        <input type="hidden" asp-for="ProfilePictureUrl">
        <div class="settings">
            <div class="settings-column">
                <div class="profile-picture-container">
                    @if (Model.ProfilePictureUrl is null)
                    {
                        <img src="~/assets/icons/default-profile-picture.png" class="profile-picture"/>
                    }
                    else
                    {
                        <img src="/@Model.ProfilePictureUrl" class="profile-picture"/>
                    }
                    <input type="file" name="profilePicture" class="profile-picture-input" accept="image/*"/>
                    <div class="description">
                        <h4>Фото</h4>
                        <p>Завантажте фото не менше 200х200 пікселів. Ви також можете завантажити фото більшого розміру і відредагувати його.</p>
                    </div>
                </div>
            </div>
            <div class="settings-column">
                <div class="input-container">
                    <div class="icon">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 17C1 14 5 14 7 12C8 11 5 11 5 6C5 2.667 6.333 1 9 1C11.667 1 13 2.667 13 6C13 11 10 11 11 12C13 14 17 14 17 17" stroke="#f8f8f8" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="vertical-separator"></div>
                    <input asp-for="Name" placeholder="Ім'я" class="settings-input"/>
                </div>
                <div class="input-container">
                    <div class="icon">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.94618 14.7083L12.2588 12.3957C12.5678 12.0867 13.0539 12.0437 13.4123 12.2937L16.6141 14.5268C17.0745 14.8479 17.1328 15.5071 16.7359 15.904L16.3875 16.2523C15.7471 16.8928 14.8281 17.1702 13.9659 16.8927C12.1039 16.2933 8.71614 14.9016 5.90727 12.0927C3.0984 9.28386 1.70669 5.89613 1.10731 4.0341C0.829775 3.17192 1.1072 2.25292 1.74767 1.61245L2.09598 1.26414C2.49289 0.867228 3.1521 0.925518 3.47321 1.38593L5.7063 4.58774C5.95628 4.94615 5.9133 5.43221 5.60431 5.7412L3.29169 8.05382" stroke="#EAEAEA" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="vertical-separator"></div>
                    <input asp-for="PhoneNumber" placeholder="Номер телефону" class="settings-input"/>
                </div>
                <div class="input-container">
                    <div class="icon">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1V0C0.447715 0 0 0.447715 0 1L1 1ZM17 1H18C18 0.447715 17.5523 0 17 0V1ZM17 13V14C17.5523 14 18 13.5523 18 13H17ZM1 13H0C0 13.5523 0.447715 14 1 14L1 13ZM9 8.71429L8.30586 9.43413L9 10.1035L9.69414 9.43413L9 8.71429ZM1 2H17V0H1V2ZM16 1V13H18V1H16ZM17 12H1V14H17V12ZM2 13V1H0V13H2ZM0.305864 1.71984L8.30586 9.43413L9.69414 7.99444L1.69414 0.280156L0.305864 1.71984ZM9.69414 9.43413L17.6941 1.71984L16.3059 0.280156L8.30586 7.99444L9.69414 9.43413Z" fill="#EAEAEA"/>
                        </svg>
                    </div>
                    <div class="vertical-separator"></div>
                    <input asp-for="Email" placeholder="Електронна пошта" class="settings-input"/>
                </div>
            </div>
            <div class="settings-column">
                <div class="input-container">
                    <div class="icon">
                        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.71429 8.11111H11.2857V5.44444C11.2857 2.98985 9.36693 1 7 1C4.63307 1 2.71429 2.98985 2.71429 5.44444M1.85714 17H12.1429C12.6162 17 13 16.602 13 16.1111V9C13 8.50908 12.6162 8.11111 12.1429 8.11111H1.85714C1.38376 8.11111 1 8.50908 1 9V16.1111C1 16.602 1.38376 17 1.85714 17Z" stroke="#EAEAEA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="vertical-separator"></div>
                    <input name="currentPassword" placeholder="Поточний пароль" class="settings-input" type="password"/>
                </div>
                <div class="input-container">
                    <div class="icon">
                        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.71429 8.11111H1.85714C1.38376 8.11111 1 8.50908 1 9V16.1111C1 16.602 1.38376 17 1.85714 17H12.1429C12.6162 17 13 16.602 13 16.1111V9C13 8.50908 12.6162 8.11111 12.1429 8.11111H11.2857H2.71429Z" fill="#EAEAEA"/>
                            <path d="M12.1429 8.11111H1.85714M12.1429 8.11111C12.6162 8.11111 13 8.50908 13 9V16.1111C13 16.602 12.6162 17 12.1429 17H1.85714C1.38376 17 1 16.602 1 16.1111V9C1 8.50908 1.38376 8.11111 1.85714 8.11111M12.1429 8.11111H11.2857M1.85714 8.11111H2.71429M11.2857 8.11111V5.44444C11.2857 2.98985 9.36693 1 7 1C4.63307 1 2.71429 2.98985 2.71429 5.44444V8.11111M11.2857 8.11111H2.71429" stroke="#EAEAEA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="vertical-separator"></div>
                    <input name="newPassword" placeholder="Новий пароль" class="settings-input" type="password"/>
                </div>
                <div class="input-container">
                    <div class="icon">
                        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.71429 8.11111H1.85714C1.38376 8.11111 1 8.50908 1 9V16.1111C1 16.602 1.38376 17 1.85714 17H12.1429C12.6162 17 13 16.602 13 16.1111V9C13 8.50908 12.6162 8.11111 12.1429 8.11111H11.2857H2.71429Z" fill="#EAEAEA"/>
                            <path d="M12.1429 8.11111H1.85714M12.1429 8.11111C12.6162 8.11111 13 8.50908 13 9V16.1111C13 16.602 12.6162 17 12.1429 17H1.85714C1.38376 17 1 16.602 1 16.1111V9C1 8.50908 1.38376 8.11111 1.85714 8.11111M12.1429 8.11111H11.2857M1.85714 8.11111H2.71429M11.2857 8.11111V5.44444C11.2857 2.98985 9.36693 1 7 1C4.63307 1 2.71429 2.98985 2.71429 5.44444V8.11111M11.2857 8.11111H2.71429" stroke="#EAEAEA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="vertical-separator"></div>
                    <input name="confirmPassword" placeholder="Повторіть пароль" class="settings-input" type="password"/>
                </div>
            </div>
        </div>
        <div class="save-button-container">
            <div class="mock-element"></div>
            <button type="submit" class="save-button">Зберегти</button>
            <div class="mock-element"></div>
        </div>
    </form>
</div>
<div class="light-gray-panel">
    <div class="rating-container">
        <div class="rating-part">
            <div class="rating-icon">
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="80" height="80" rx="8" fill="#19A896"/>
                    <path d="M20 45C20 47.6264 20.5173 50.2272 21.5224 52.6537C22.5275 55.0802 24.0007 57.285 25.8579 59.1421C27.715 60.9993 29.9198 62.4725 32.3463 63.4776C34.7728 64.4827 37.3736 65 40 65C42.6264 65 45.2272 64.4827 47.6537 63.4776C50.0802 62.4725 52.285 60.9993 54.1421 59.1421C55.9993 57.285 57.4725 55.0802 58.4776 52.6537C59.4827 50.2272 60 47.6264 60 45H40L20 45Z" fill="#F8F8F8"/>
                    <circle cx="20" cy="25" r="10" fill="#F8F8F8"/>
                    <circle cx="60" cy="25" r="10" fill="#F8F8F8"/>
                </svg>
            </div>
            <div>
                <div class="rating-name">Відмінно:</div>
                <div class="rating-about">Ви отримало багато виключно схвальних відгуків покупців</div>
            </div>
        </div>
        <div class="vertical-separator"></div>
        <div class="rating-part">
            <div class="rating-value"><span>9.8</span>/10</div>
        </div>
        <div class="vertical-separator"></div>
        <div class="rating-part">
            <div class="rating-about">Тільки-но покупець контактує з вами — він може залишити вам оцінку.</div>
            <div class="rating-about">Існує 4 типи рейтингу: Відмінно, Добре, Задовільно й Погано.</div>
        </div>
    </div>
</div>
<div class="delete-account-container">
    <div class="separator"></div>
    <a asp-action="Delete" asp-controller="User" id="deleteAccount">Видалити обліковий запис</a>
    <div class="separator"></div>
</div>

@section Scripts
{
    <script src="~/js/settings.js"></script>
}
@section Styles 
{
    <link rel="stylesheet" href="~/css/settings.css"/>    
}
