@inject UserManager<User> UserManager

@using Microsoft.AspNetCore.Identity
@using Olx.Models
@model Olx.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OwnerId" value="@UserManager.GetUserId(User)" >
            <input type="hidden" asp-for="City">
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="photos-container">
                    <h4>Photos</h4>
                    <div class="flex-wrap">
                        <div class="photo-input-container">
                            <input type="file" name="photos" accept="image/*"/>
                            <img src="/assets/icons/free-icon-camera-7708970.png"/>
                            <div class="delete-panel">
                                <button class="delete-button"><i class="bi bi-trash3"></i></button>
                            </div>
                        </div>
                        @for (int i = 0; i < 8; i++)
                        {
                            <div class="photo-container">
                                <input type="file" name="photos" accept="image/*"/>
                                <img src="/assets/icons/free-icon-gallery-964053.png"/>
                                <div class="delete-panel">
                                    <button class="delete-button"><i class="bi bi-trash3"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <span asp-validation-for="PhotoUrls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceType" class="form-label"></label>
                <select asp-for="PriceType" class="form-control" asp-items="ViewBag.PriceType"></select>
                <span asp-validation-for="PriceType" class="text-danger"></span>
            </div>
            <div class="form-group"  style="display: @(Model.PriceType == PriceType.Regular ? "block": "none")">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemState" class="form-label"></label>
                <select asp-for="ItemState" class="form-control" asp-items="ViewBag.ItemState"></select>
                <span asp-validation-for="ItemState" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAutorenewing" /> @Html.DisplayNameFor(model => model.IsAutorenewing)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="City" class="form-label"></label>
                <input name="city-name" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
                <div class="suggestions">
                </div>
            </div>
            <div id="filters"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script src="/js/product.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            $('#PriceType').on('change', () => {
                if ($('#PriceType').val() === '0') {
                    $('#Price').css('display', 'block');
                    $('#Price').prev().text('Price');
                } else {
                    $('#Price').css('display', 'none');
                    $('#Price').prev().text('');
                }
            });
            
            $('#CategoryId').on('change', () => {
                $.ajax({
                    url: '/Filter/ByCategory/' + $('#CategoryId').val(),
                    type: 'GET',
                    success: data => {
                        let filters = $('#filters');
                        filters.empty();
                        filters.append('<h4>Filters</h4>');
                        if (data.length === 0) {
                            filters.append('<p>No filters available for this category</p>');
                        }
                        $.each(data,  (index, value) => {
                            filters.append('<div class="form-group"></div>');
                            let formGroup = filters.children().last();
                            if (value.filterType === 2) {
                                formGroup.addClass('form-check');
                                formGroup.append('<label class="form-check-label">' 
                                + '<input class="form-check-input" type="checkbox" name="' + value.name + '" />' 
                                + value.name + '</label>');
                            } else {
                                formGroup.append('<label class="form-label">' + value.name + '</label>');
                                if (value.filterType === 0) {
                                    formGroup.append('<input class="form-control" name="' + value.name + '" />');
                                } else if (value.filterType === 1) {
                                    formGroup.append('<input class="form-control" type="number" name="' + value.name + '" />');
                                } else {
                                    console.log('Unknown filter type: ' + value.filterType);
                                }
                            }
                        })
                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                });
            });
            $('.suggestion').on('click', suggestionClickHandler);
            $('input[name="city-name"]').on('input', cityInputChanged);
            $('#CategoryId').trigger('change');
            $('.photo-input-container input[type="file"]').on('change', photoUploadHandler);
            $('.photo-input-container').on('click', (e) => {
                $(e.target).children('input').trigger('click');
            });
            $('.photo-input-container img').on('click', (e) => {
                $(e.target).parent().trigger('click');
            });
            $('.delete-button').on('click', deletePhotoHandler);
            if ($('input[name="City"]').val() !== '') {
                getCityNameByRef();
            }
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="/css/product.css" />
}
