@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <a asp-controller="Category">Categories</a>
    <a asp-controller="Product">Products</a>
    <a asp-controller="Chats">Chats</a>
</div>