@model IEnumerable<Olx.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_SearchBar"/>

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <a asp-controller="Category">Categories</a>
    <a asp-controller="Product">Products</a>
    <a asp-controller="Chats">Chats</a>
    <div class="d-flex flex-wrap overflow-auto">
        @foreach (var product in Model)
        {
            @await Component.InvokeAsync("ProductCard", new { product })
        }
    </div>
</div>