* {
    --light-color: #EAEAEA;
    --black-color: #353535;
    --red-color: #FB6C6C;
    --green-color: #19A896;
    --white-color: #F8F8F8;
    --red-accent-color: #fa4b4b;
}

.header {
    font-family: "Bitter", serif;
    margin: 0;
    padding: 20px 0;
    background-color: var(--light-color);
}

.personal-area {
    color: var(--black-color); 
}

.personal-area a {
    color: var(--black-color);
    text-decoration: none;
}

.user-container {
    background-color: var(--white-color);
    border-radius: 4px;
    padding: 2px;
    position: relative;
}

.profile-container {
    background-color: var(--light-color);
    border-radius: 4px 0 0 4px;
}

.profile-text {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .05em;
}

.user-container .dropdown-toggler {
    margin-left: 0;
}

#downArrow {
    transition-duration: .2s;
}

.dropdown-toggler:hover .profile-container {
    background-color: var(--white-color);
}

.new-post-container {
    background-color: var(--red-color);
    border-radius: 6px;
    color: var(--white-color);
    padding: 8px 12px;
}

.drop-header:hover,
.drop-item:hover,
.drop-end:hover {
    transform: scale(1.05);
}

#likedProducts:hover {
    fill: var(--green-color);
}

#likedProducts:hover path {
    stroke: var(--green-color);
}

#messages:hover {
    fill: var(--green-color);
}

#messages:hover path {
    stroke: var(--green-color);
}

.new-post-container a {
    color: var(--white-color);
    text-decoration: none;
}

.new-post-text {
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .05em;
}

.drop-menu {
    position: absolute;
    top: 50px;
    background-color: var(--light-color);
    border: solid 2px var(--white-color);
    border-radius: 4px;
    transition-duration: .2s;
    padding: 10px 20px;
}

.hidden {
    display: none;
}

.drop-menu hr {
    background-color: var(--black-color);
    height: 2px;
}

.drop-header {
    color: var(--green-color);
    font-weight: 700;
    text-align: center;
}

.drop-header a {
    color: var(--green-color);
    text-decoration: none;
}

.drop-item {
    color: var(--black-color);
    font-weight: 400;
    text-align: right;
    margin: 10px 0;
}

.drop-end {
    color: var(--red-color);
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}

.drop-end a {
    color: var(--red-color);
    text-decoration: none;
}

.new-post-container:hover {
    background-color: var(--red-accent-color);
}