.order-container {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background: var(--light-color);
}

.methods {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5px;
    background: var(--white-color);
    padding: 20px 30px;
}

.methods:nth-child(3) {
    width: 40vw;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-bottom: 20px;
}

.order-input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.title {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.method-container {
    display: flex;
    margin-bottom: 20px;
}

.method-input-wrapper {
    margin-right: 20px;
}

.method-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: max-content;
    white-space: nowrap;
    margin-right: 30px;
}

.methods label {
    width: 100%;
}

.hidden {
    display: none!important;
}

.required-fields {
    color: var(--black-color);
    text-align: right;
    width: 100%;
    font-size: 1.2em;
}

.order-button {
    background-color: var(--white-color);
    color: var(--black-color);
    border: 1px solid var(--black-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 50%;
    max-height: 50px;
}

.order-button:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.advert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 0;
    background: var(--white-color);
}
.advert-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 55px;
    background: var(--light-color);
    border-radius: 10px;
    height: 100px;
}

.numeric-advert {
    background: var(--white-color);
    color: var(--red-color);
    border: 2px solid var(--red-color);
    font-weight: 700;
    padding: 10px 30px;
    font-size: 2em;
    border-radius: 5px;
    margin-right: 15px;
}

.advert-text {
    font-size: 1.5em;
    color: var(--black-color);
    text-align: center;
}

.ampersand {
    font-size: 4em;
    font-weight: 700;
    color: var(--green-color);
    margin: 0 30px;
}

.method-price {
    font-weight: 700;
}

.payment-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.payment-info-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.payment-info-text {
    font-size: 1.2em;
    margin-bottom: 50px;
    color: var(--muted-color);
    width: 60%;
}

.method-logo img {
    max-width: 60px;
    height: auto;
    min-height: 20px;
    margin-right: 10px;
}

.method-container:not(:has(input[type="radio"]:checked)) .method-logo img {
    filter: grayscale(1);
}