<footer class="s-footer">
    <div class="footer-site-info">
        <div class="logo">
            <a asp-action="Index" asp-controller="Home">
                <img src="~/assets/icons/logo.png" alt="BUYSELL"/>
            </a>
        </div>
        <div class="slogan">Усі онлайн-оголошення України на BUYSELL - тут знайдете все, що шукали!</div>
    </div>
    <div class="footer-links">
        <ul>
            <li class="footer-link"><a asp-action="Index" asp-controller="Home">Реклама на сайті</a></li>
            <li class="footer-link"><a asp-action="Index" asp-controller="Home">Зворотній зв'язок</a></li>
            <li class="footer-link"><a asp-action="Index" asp-controller="Home">Платні послуги</a></li>
            <li class="footer-link"><a asp-action="Index" asp-controller="Home">Блог</a></li>
        </ul>
    </div>
    <div class="footer-links">
        <ul>
            <li class="footer-link"><a asp-action="Index" asp-controller="Home">Політика конфіденційності</a></li>
            <li class="footer-link"><a asp-action="Index" asp-controller="Home">Умови користування</a></li>
            <li class="footer-link"><a asp-action="Index" asp-controller="Home">Правила безпеки</a></li>
            <li class="footer-link"><a asp-action="Index" asp-controller="Home">Для преси</a></li>
        </ul>
    </div>
    <div class="mobile-app-links">
        <a href="https://www.apple.com/app-store/">
            <img src="~/assets/icons/app-store.png" alt="App Store" class="app-store-icon">
        </a>
        <a href="https://play.google.com">
            <img src="~/assets/icons/google-play.png" alt="Google Play" class="google-play-icon">
        </a>
    </div>
</footer>