@using Microsoft.AspNetCore.Identity
@using Olx.Models
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="header d-flex justify-content-around align-items-center">
    <div class="d-flex justify-content-center align-items-center">
        <a asp-controller="Home" asp-action="Index"><img src="/assets/icons/logo.png" alt="logo" class="logo"></a>
    </div>
    <div class="personal-area d-flex justify-content-between align-items-center">
        <div class="messages-container me-5">
            <a asp-controller="Chats" asp-action="Index" class="messages">
                <svg id="messages" width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 9C21 13.4183 16.5228 17 11 17C9.88974 17 8.82174 16.8553 7.82388 16.5881L3 19L3.65323 14.4274C2.00629 13.0013 1 11.0947 1 9C1 4.58172 5.47715 1 11 1C16.5228 1 21 4.58172 21 9Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
        <div class="user-container me-5">
            <div class="dropdown-toggler row d-flex justify-content-around align-items-center">
                <div class="profile-container col-9 d-flex justify-content-around align-items-center px-4 py-2">
                    <div class="me-3">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 17C1 14 5 14 7 12C8 11 5 11 5 6C5 2.667 6.333 1 9 1C11.667 1 13 2.667 13 6C13 11 10 11 11 12C13 14 17 14 17 17" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="profile-text">ПРОФІЛЬ</div>
                </div>
                <div class="col-3">
                    <svg id="downArrow" width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
            <div class="drop-menu hidden">
                <div class="drop-header">
                    @if (SignInManager.IsSignedIn(User) && user is not null)
                    {
                        <a asp-area="Identity" asp-page="/Account/Manage/Index">@(user.Name ?? user.Email)</a>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Authentication">Вхід</a>
                    }
                </div>
                @if (SignInManager.IsSignedIn(User) && user is not null)
                {
                    <hr/>
                    <div class="drop-item">
                        <a asp-action="Index" asp-controller="Product">Оголошення</a>
                    </div>
                    <div class="drop-item">
                        <a asp-action="Index" asp-controller="Home">Рейтинг</a>
                    </div>
                    <div class="drop-item">
                        <a asp-action="Index" asp-controller="Chats">Повідомлення</a>
                    </div>
                    <div class="drop-item">
                        <a asp-action="Index" asp-controller="Home">Бажане</a>
                    </div>
                    <div class="drop-item">
                        <a asp-area="Identity" asp-page="/Account/Manage/Index">Налаштування</a>
                    </div>
                    <hr/>
                    <div class="drop-end">
                        <a asp-action="Logout" asp-controller="Authentication" asp-route-returnUrl="@Context.Request.Path">Вихід</a>
                    </div>
                }
            </div>
        </div>
        <div class="liked-container">
            <a asp-action="FavoriteProducts" asp-controller="User">
                @if (!Context.Request.Path.ToString().ToLower().StartsWith("/user/favoriteproducts"))
                {
                    <svg id="likedProducts" width="22" height="21" viewBox="0 0 22 21" fill="#EAEAEA" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 19L9.55 17.7052C4.4 13.1243 1 10.103 1 6.3951C1 3.37384 3.42 1 6.5 1C8.24 1 9.91 1.79455 11 3.05014C12.09 1.79455 13.76 1 15.5 1C18.58 1 21 3.37384 21 6.3951C21 10.103 17.6 13.1243 12.45 17.715L11 19Z" stroke="currentColor" stroke-width="2"/>
                    </svg>
                }
                else
                {
                    <svg id="likedProducts" width="22" height="21" viewBox="0 0 22 21" fill="#19A896" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 19L9.55 17.7052C4.4 13.1243 1 10.103 1 6.3951C1 3.37384 3.42 1 6.5 1C8.24 1 9.91 1.79455 11 3.05014C12.09 1.79455 13.76 1 15.5 1C18.58 1 21 3.37384 21 6.3951C21 10.103 17.6 13.1243 12.45 17.715L11 19Z"/>
                    </svg>
                }
            </a>
        </div>
    </div>
    <div class="new-post-container">
        <a asp-action="Create" asp-controller="Product">
            <div class="d-flex justify-content-between align-items-center">
                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1V7H15M10 1L15 6V19H1V1.00002L10 1Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round"/>
                </svg>
                <div class="ms-2 new-post-text">Нове оголошення</div>
            </div>
        </a>
    </div>
</div>

